.computers {
	position: absolute;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	left: 300px;
	top: 100px;
}

a {
	position: absolute;
	background: black;
	color: white;
	width: 80px;
	height: 30px;
}

.but-desktop {
	top: 50px;
	left: 40px;
}

.but-monoblock {
	top: 80px;
	left: 40px;
}

.main-page {
	top: 20px;
	left: 40px;
}

.left_panel {
	position: absolute;
	background-color: black;
	width: 170px;
	height: 450px;
}

.right_panel {
	position: absolute;
	background-color: black;
	width: 170px;
	height: 250px;
	left: 86%;
}

.but-delivery {
	position: absolute;
	top: 20px;
	left: 40px;
}

.but-busket {
	position: absolute;
	left: 40px;
	top: 50px;
}

.text_delivery {
	position: absolute;
	left: 100px;

}





