{% extends 'base.html' %}
{% block title %} <h1> настольные </h1> {% endblock %}


{% block content %}
<div class='computers'>
	{% if comps_list %}

		{% for c in comps_list %}
			{% if c.category == 'desktop' %}
				<br>
				{% block photocontent %}
					{% load staticfiles %}
					<img src="{{ c.image.url }}" width="100" height="100" >
				{% endblock %}
				<br>
				<h3> name: {{c.name}} </h3> 
				price: {{c.price}} <br>
				processor: {{c.processor}} <br>
				ram_size: {{c.ram_size}} <br>
				ram_type: {{c.ram_type}} <br>
				cpu_frequency: {{c.cpu_frequency}} <br>
				processor_cores: {{c.processor_cores}} <br>
				ssd_capacity: {{c.ssd_capacity}} <br>
			{% endif %}
		{% endfor %}
	{% endif %}
</div>

{% endblock %}